html{
    text-align: center;
    background-color: #9290EF;
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    
}

h1{
    font-size: 50px;
    color: #B7BDFF;
    -webkit-text-stroke: 0.6px white;
}

h2{
    font-size: 40px;
    color: #B7BDFF;
    -webkit-text-stroke: 0.6px white;
}

h3{
    color: white;
    font-size: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: row;
}

nav a{
    background-color: #5941A9;
    text-decoration: none;
    color: #E5D4ED;
    margin: 10px;
    font-size: 30px;
    border: 1px outset #E5D4ED;
    border-radius: 2px;
    padding: 5px;
}

.boton{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.boton:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

form{
    width: 500px;
    margin: 0 auto;
}

form input[type=text], input[type=password], input[type=email]{
    width: 50%;
    height: 50px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

form input[type=submit]{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: #8D2696;
    color: #E5D4ED;
    border: 1px outset #E5D4ED;
    cursor: pointer;
}

#labelDocumento{
    display: inline-block;
    background-color: white;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    margin: 10px;
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

#documento{
    display: none;
}

#descripcion{
    width: 50%;
    height: 100px;
    border-radius: 15px;
    margin: 10px;
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
}

.error{
    background-color:red; 
    color:white; 
    display:table; 
    padding:5px;
    margin: 0 auto;
}

.mensaje{
    background-color:green; 
    color:white; 
    display:table; 
    padding:5px;
    margin: 0 auto;
    margin-bottom: 10px;
}

table{
    width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom:20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #dddddd;
    *color: white;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
